<font size="4em" color="black">
Volume Top 10 (60min) - Sync Time : {{time}}
</font>
<table border="1">
  <tr>
     <th bgcolor="#228b22">{{ "Coin Name" }}</th>
     <th bgcolor="#228b22">{{ "Info." }}</th>
     <th bgcolor="#228b22">{{ "before 1hr"}}</th>
     <th bgcolor="#228b22">{{ "before 30min"}}</th>
     <th bgcolor="#228b22">{{ "last"}}</th>
     <th bgcolor="#228b22">{{ "change(30m)"}}</th>
     <th bgcolor="#228b22">{{ "change(60m)"}}</th>
{% for coin in voluem60minLists %}
   <tr>
      <td rowspan="2" bgcolor="#228b22">{{ coin.name }}</td>
      <td>{{ "Price" }}</td>
      <td>{{ coin.priceList.0 }}</td>
      <td>{{ coin.priceList.2 }}</td>
      <td>{{ coin.priceList.4 }}</td>
      <td>{{ coin.diffPriceList.0 }}</td>
      <td>{{ coin.diffPriceList.1 }}</td>
  </tr>
  <tr>
      <td>{{ "Volume" }}</td>
      <td>{{ coin.volumeList.0 }}</td>
      <td>{{ coin.volumeList.2 }}</td>
      <td>{{ coin.volumeList.4 }}</td>
      <td>{{ coin.diffVolumeList.0 }}</td>
      <td bgcolor="#228b22">{{ coin.diffVolumeList.1 }}</td>
  </tr>
{% endfor %}
</table>

<br />

<font size="4em" color="black">
Volume Rate(%) Top 10 (60min)  - Sync Time : {{time}}
</font>
<table border="1">
  <tr>
     <th bgcolor="#228b22">{{ "Coin Name" }}</th>
     <th bgcolor="#228b22">{{ "Info." }}</th>
     <th bgcolor="#228b22">{{ "before 1hr"}}</th>
     <th bgcolor="#228b22">{{ "before 30min"}}</th>
     <th bgcolor="#228b22">{{ "last"}}</th>
     <th bgcolor="#228b22">{{ "change(30m)"}}</th>
     <th bgcolor="#228b22">{{ "change(60m)"}}</th>
{% for coin in voluemRate60minLists %}
   <tr>
      <td rowspan="2" bgcolor="#228b22">{{ coin.name }}</td>
      <td>{{ "Price" }}</td>
      <td>{{ coin.priceList.0 }}</td>
      <td>{{ coin.priceList.2 }}</td>
      <td>{{ coin.priceList.4 }}</td>
      <td>{{ coin.diffPriceRateList.0 }}</td>
      <td>{{ coin.diffPriceRateList.1 }}</td>
  </tr>
  <tr>
      <td>{{ "Volume" }}</td>
      <td>{{ coin.volumeList.0 }}</td>
      <td>{{ coin.volumeList.2 }}</td>
      <td>{{ coin.volumeList.4 }}</td>
      <td>{{ coin.diffVolumeRateList.0 }}%</td>
      <td bgcolor="#228b22">{{ coin.diffVolumeRateList.1 }}%</td>
  </tr>
{% endfor %}
</table>
